@tailwind base;
@tailwind components;
@tailwind utilities;

/* .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 50%;
  }
  
.option {
    padding: 0;
} */